.App {

    height: 100vh;
    margin: auto;
}
body, html{
  margin: 0;
  padding: 0;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.profile{
  display: flex;
  height: 200px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: -100px;
  border: solid #7A7A7A 3px;
  border-radius: 20px;
  background-color: white;

}
.profile-img{
  width: 200px;
  border: solid #E6E9EC 3px;
  border-radius: 20px;
  margin-left: 35px;
  margin: 35px;
  margin-top: -100px;

}
.hero-item{
  margin: 60px;
}

.App-header {
  flex: 0 0 20%;
  background-image: url('./assets/images/Wallpaper.png');
  background-size: cover;
  min-height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;

}

.hero-icon{
  color: #7A7A7A;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  transition: transform 1.5s ease;

}

.hero-icon:hover{
  color: white;
  background-color: #FF014F;
}

.about-container{
  margin-left: auto;
  width: 70%;
  padding: 30px;
  margin-top: 60px;
  border: solid #7A7A7A 3px;
  border-radius: 30px;

}
.about-content{
  display: flex;

}

.global-container{
  display: grid;
  width: 70%;
  border: solid #7A7A7A 3px;
  border-radius: 30px;
  margin-left: auto;
  margin-top: 40px;
  margin-right: 0px;
  padding: 30px;



}
.service-content-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-left: auto;
  padding: auto;
  padding: 30px;
  margin: 20px;


}

.service-content{
  margin: auto;
padding: 30px;

}


.icon{
  height: 40px;
  width: 30px;
  color: #ffffff;
  align-items: center;
  justify-content: center;


}

.bg-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FF014F;
}

.progress-bar{
  width: 0;
  height: 20px;
  background-color: #FF014F;
  transition: width 0.5s ease-in-out;
}
.progress-container{
  width: 100%;
  margin: 20px auto;
  border: solid #7a7a7a;
  border-radius: 1px;
  overflow: hidden;
}

.img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.portfolio-img{
  width: 400px;
  margin: 30px;
}

form{
  display: grid;
  max-width: 500px;
  padding:70px;
  gap : 20px;
}

.formInput{
   height: 30px;
   border: 2px solid #7A7A7A;
   border-radius: 3px;
}


.inputText{
   height: 200px;
   border: 2px solid #7A7A7A;
   border-radius: 3px;
}

.btn{
  font-size: medium;
  padding: 10px;
  background-color: #FF014F;
}

nav {
  display: flex;
  flex-direction: column;
  flex: 0 0 20%;
  margin-top: 40px;
}


.nav-item:hover,
.nav-item.active {
  background-color: #eee;
  color: #fff;
}

.sidebar {
  position: relative;
  top: 300px;
  width: 200px;
  padding: 20px;
  background-color: #333;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.nav-item {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

