.App {

    height: 100vh;
    margin: auto;
}
body, html{
  margin: 0;
  padding: 0;
  height: 100%;
  background-color:#e6e9ec;
  font-family: 'Times New Roman', Times, serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.profile{
  display: flex;
  height: 200px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: -100px;
  border: solid #ffffff 3px;
  border-radius: 20px;
  background-color: #1b1c1e;

}
.profile-img{
  width: 200px;
  border: solid #E6E9EC 3px;
  border-radius: 20px;
  margin-left: 35px;
  margin: 35px;
  margin-top: -100px;

}
.hero-item{
  margin: 60px;
}

.App-header {
  flex: 0 0 20%;
  background-image: url('./assets/images/Wallpaper.png');
  background-size: cover;
  min-height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;

}

.hero-icon{
  color: #f8e60c;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  transition: transform 1.5s ease;

}

.hero-icon:hover{
  color: #e6e9ec;
  background-color: #1a1a1a;
}

.about-container{
  color: #ffffff;
  background-color: #ffffff;
  width: 70%;
  margin-left: auto;
  margin-top: -350px;
  border: solid #7A7A7A 3px;
  border-radius: 30px;


}
.about-content{
  display: flex;
  background-image: url('./assets/images/contact7.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 30px;
  border-radius: 20px;
}

.about-content2{
  color: #1a1a1a;
  border: solid 1px #f0ebeb;
  border-radius: 10px;
  margin-right: 30px;
  padding: 30px;
}

.global-container{
  display: grid;
  width: 70%;
  min-height: 600px;
  border: solid #7A7A7A 3px;
  border-radius: 30px;
  margin-left: auto;
  margin-top: -350px;
  margin-right: 10px;
  padding: 30px;
}


.service-content-container{
  min-height: 900px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-left: auto;
  padding: auto;
  padding: 60px;
  margin: 10px;
}

.service-content{
  padding: 50px;
  border: solid 1px #f0ebeb;
  border-radius: 10px;
  margin: 20px;

}


.icon{
  height: 40px;
  width: 30px;
  color: #1a1a1a;
  align-items: center;
  justify-content: center;
}

.bg-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f8e60c;
}

.icon2{
  height: 40px;
  width: 30px;
  align-items: center;
  justify-content: center;
}

.bg-icon2{
  display: flex;
  background-color: #1a1a1a;
  height: 60px;
  width: 60px;
  align-items: center;
  justify-content: center;
}

.icon2{
   color: #E6E9EC;

}

.bg-icon2:hover{
  color: #E6E9EC;
  background-color: #e131ff;
}

.progress-bar{
  width: 0;
  height: 20px;
  background-color: #f8e60c;
  transition: width 0.5s ease-in-out;
}
.progress-container{
  width:99%;
  margin: 20px auto;
  border: solid #7a7a7a;
  border-radius: 1px;
  overflow: hidden;
}



.img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.portfolio-img{
  width: 400px;
  margin: 30px;
}

form{
  display: grid;
  max-width: 500px;
  padding:70px;
  gap : 20px;
}

.formInput{
   height: 30px;
   border: 1px solid #1a1a1a;
   border-radius: 3px;
}


.inputText{
   height: 200px;
   border: 1px solid #1b1c1e;
   border-radius: 3px;
}

sup{
  color: red
}

.btn{
  font-size: medium;
  padding: 20px;
  color: #f8e60c;
  background-color: #1a1a1a;
}

.btn1{
  padding: 20px;
  background-color: #f8e60c;
  border:  solid #E6E9EC 1px;
}

.btn:hover, .btn1:hover{
   color: #E6E9EC;
   background-color: #e131ff;
}

nav {
  display: flex;
  flex-direction: column;
  flex: 0 0 20%;
  margin-top: 40px;
}


.nav-item:hover,
.nav-item.active {
  background-color: #e131ff;
  color: #ffffff;
}

.sidebar {
  position:relative;
  top: 0;
  width: 150px;
  padding: 20px;
  background-color: #1b1c1e;
  border: solid 2px #ffffff ;
  border-radius: 15px;
  color: #7a7a7a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.nav-item {
  display: block;
  padding: 30px;
  color: #1a1a1a;
  background-color: yellow;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.footer-container{
  background-image: url('./assets/images/contact7.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #E6E9EC;
  display: grid;
  width: 70%;
  border: solid #7A7A7A 3px;
  border-radius: 25px;
  margin-left: auto;
  margin-top: 40px;
  margin-right: 10px;
  padding: 30px;
}


